body {
  
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assets/background/image7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lighter-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.lighter-background::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
  pointer-events: none;
}


.container {
  width: 50%;
  margin: auto;
}

.header, .sign-in-container, .sign-up-container {
  background: rgba(240, 246, 252, 0.93); /* opacity */
  color: #22235C;
  text-align: center;
  padding: 1em;
  border-radius: 30px;
  margin-bottom: 20px;
}

.header p, .sign-in-container p, .sign-up-container p {
  margin: 0;
}

.button {
  display: inline-block;
  background: #ffffff;
  color: #50b3a2;
  padding: 0.5em 2em;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background: #50b3a2;
  color: #ffffff;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #50b3a2;
}

form {
  display: flex;
  flex-direction: column;.second-container {
  margin-top: 20px;
}

  align-items: center;
}

.second-container {
  margin-top: 20px;
}

.additional-text {
  font-size: 18px;
  color: #333;
}
